<h1>hello</h1>

<% @clients.each do |client|%>
  Client name is: <%= client.name %><br />
<% end %>

<a href="/new_client"> Create Client</a>

Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 
Test 